@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
}


#bushido #gerenciamento #metodos {
    width: 100%;
    display: flex;
    justify-content: center;

}

h2 {
    width: 100vw;
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

p{
    margin-left: 100px;
    margin-right: 100px;
    line-height: 28px;

}
.container-img {
    width: 40rem;
    height: 40rem;
}

.container-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}


.container-text h3 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.container-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.carousel-control-prev-icon {
    position: absolute;
    top: 50%;
    left: 0;
}

.carousel-control-next-icon {
    position: absolute;
    top: 50%;
    right: 0;
}